# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/undangan_db?schema=public

# Auth
NEXTAUTH_SECRET=your-super-secret-key-change-me
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Object Storage (Cloudflare R2 / S3-compatible)
STORAGE_ENDPOINT=https://xxxx.r2.cloudflarestorage.com
STORAGE_ACCESS_KEY_ID=xxxxxx
STORAGE_SECRET_ACCESS_KEY=xxxxxx
STORAGE_BUCKET_NAME=undangan-media
STORAGE_PUBLIC_CDN_URL=https://cdn.undanganku.app

# Background Job
REDIS_URL=redis://localhost:6379

# Upload limits (dipakai validasi FE & BE)
MAX_PHOTO_SIZE_MB=5
MAX_VIDEO_SIZE_MB=100
MAX_AUDIO_SIZE_MB=10
MAX_VIDEO_DURATION_SEC=60
MAX_AUDIO_DURATION_SEC=300
